@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: whitesmoke;
    padding: 0 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}










/* cameraForm popup         move to bottom later */

.cameraForm {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:99999;

    min-height: 50vh;

    border: 5px solid black;
    background-color: green;
}

.cameraOptions {
    display: block;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 35vh;

    background-color: brown;
}

.cameraOptions button {
    width: 30%;
}





/* page content */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    margin-top: 5%;
}

.title {
    color: black;
    font-size: 50px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.searchbar {
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    max-width: 820px;
    overflow: hidden;
    margin-bottom: 10px;
}

.searchbar input {
    display: block;
    appearance: none; 
    outline: none;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

/* button */

.buttonOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    gap: 15px;
    margin-top: 10px;
   
}

.btn {
  background-color: black;
  background-color: white;
  border-radius: 5px;
  
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  width: 30%;
  min-width: 150px;
  min-height: 45px;
}

.btn:hover,
.btn:focus {
  opacity: 70%;
}

#btn2,
#btn3 {
    width: 10%;
    min-width: 50px;
}

.btn img {
    width: 40%;
    min-width: 28px;
    margin-top: 5px;
}

/* result card */

.results {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.result {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    border: solid;
    transition: all 0.3 ease;
}


.result:hover {
    box-shadow: 0px 7px 30px 0px rgba(100, 100, 110, 0.2);
}

/* result inner */
.result p {
    color: darkgray;
    font-size: 20px;
    margin-bottom: 15px;
}

.result div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.result a {
    padding: 10px;
    width: 45%;
    max-width: 250px;
    background-color: rgb(180, 200, 250);
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.3 ease;
}

.result a:hover {
    opacity: 80%;
}

.helper {
    text-align: center;
}
